<h1>Add a new actor</h1>

<form action="http://localhost:3000/actors/create_actor">
  <div>
    <label>Name:</label>
    <input type="text" name="the_name">
  </div>
  <div>
    <label>Bio:</label>
    <input type="text" name="the_bio">
  </div>
  <div>
    <label>Date or birth:</label>
    <input type="text" name="the_dob">
  </div>
  <div>
    <label>Image URL:</label>
    <input type="text" name="the_image_url">
  </div>
  <div>
    <button>Create Actor</button>
  </div>
</form>
